@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header h1 a{
    text-decoration: none;
}

body {
    background-color: rgb(245, 230, 170);
    text-align: center;
}

section {
    padding: 100px 150px;
}

section div {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%); /* {shadow-top-bottom , shadow-right(if u want left use -minus) , how blury it should be , the color of the shadow}*/
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

section .link {
    text-decoration: none;
    font-weight: 600;
}

footer .go-up a{
    text-decoration: none;
    font-size: 1.3em;
    color: blue;

}